<footer id="footer">
  <a href="http://localhost:8080/">Home</a>
  <div>
    <h4>Check out our social media!</h4>
    <ul>
       <li>facebook.com/WoodenWoods</li>
      <li>instagram.com/WoodenWoods</li>
    </ul>
  </div>

</footer>