<h2>Login:</h2>
<form action="" method="post">
    <input type="text" name="userLogin" id="userLogin" placeholder="Username">
    <input type="password" name="passLogin" id="passLogin" placeholder="Password">
</form>