<h1>Formulario</h1>
<p>Ingrese los datos del producto</p>
<form action="/productos" method="post">
    <div>
        <div>
            Titulo: <input type="text" name="title">
        </div>
        <div>
            Precio: <input type="text" name="price">
        </div>
        <div>
            URL de la imagen: <input type="text" name="url">
        </div>
        <div>
            <button type="submit">Enviar</button>
        </div>
    </div>
</form>