{{>header}}
<h2>Cart</h2>
<button><a href="http://localhost:8080/confirmation">Confirm buy!</a></button>
<button>Empty Cart</button>
<button><a href="http://localhost:8080/logout">Logout</a></button>
{{>footer}}