{{>header}}
<div>
    <h1>Welcome to WoodenWoods!</h1>
<button id="loginButton"><a href="http://localhost:8080/login">Login</a></button>
<button id="cartButton"><a href="http://localhost:8080/cart">Cart</a></button>
<button id="signupButton"><a href="http://localhost:8080/signup">Signup</a></button>

</div>
<div class="productos">
    {{#each products}}
        <div class="producto">
            <img src="" alt="productImage">
            <h2>{{this.name}}</h2>
            <h3>$ {{this.price}}</h3>
            <p>{{this.description}}</p>
            <button class="addProductButton" onclick="addProductButton()">Agregar al carrito</button>
        </div>
    {{/each}}
</div>

{{>footer}}