{{>header}}
<h2>Login:</h2>
<form action="/login" method="post">
    <input type="text" name="userLogin" id="userLogin" placeholder="Email">
    <input type="password" name="passLogin" id="passLogin" placeholder="Password">
    <button id="loginButton" type="submit">Login</button>
</form>
{{>footer}}