<h1>Productos</h1>
<div>
    <% if (array1.length != 0) { %>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Imagen</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < array1.length; i++) { %>
                    <tr>
                        <td><%= array1[i].id %></td>
                        <td><%= array1[i].title %></td>
                        <td><%= array1[i].price %></td>
                        <td><img src="<%= array1[i].url %>"></td>
                    </tr>
                <% }  %>
            </tbody>
        </table>
    <% } else {%>
        <h3> No hay productos en el sistema. </h3>
    <% } %>
</div>